@media print {
    .screen-only{
        display: none
    }
}
@media (min-width : 1000px){
    body {
        background-color:rgb(33, 181, 240);
    }
}
@media (max-width : 999px){
    body {
        background-color: slategray;
    }
} 
@media (min-width : 1000px){
    h1::before {
        content:" ";
    }
}
@media (max-width : 999px){
    h1::before {
        content:"-";
    }
}
p {
    border: 3px solid black;
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}
body {
    text-align:center;
}
div{
    background-color: darksalmon ;
    width: 400px;
    height: 100px;
    margin: 50px;
    padding: 20px;
    display: table ; margin:0 auto;
}