{% extends "layout.html" %}

{% block heading %}
    Login Welcome Page
{% endblock %}

{% block body %}
<div class="form-group">
    <form action="{{ url_for('hello') }}" method="post">
        <input type="text" name="name" placeholder="Username">
        <input type="password" name="psw" placeholder="Password">
        <button class="btn btn-primary">Enter</button>
    </form>

    <form action="{{ url_for('registration') }}" method="get">
        <button class="btn btn-primary">Signup</button>
    </form>
</div)>   
{% endblock %}
